<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="row">
    <h2 class="head-3">QUESTIONS</h2>
    <a style="float: right;" routerLink='/ask-questions' class="btn btn-primary">Ask Question</a><br><br>
    <ul style="list-style: none;background-color:cornflowerblue " class="Question" *ngIf="question_arr.data">
      <li class="list-group-item" *ngFor="let question of question_arr.data" style="padding-right: 3%;">
          <a routerLink='/show-question/{{ question. id }}'>
          <span class="badge">{{ question. title }}</span> </a>      
      </li>
    </ul>
  </div>
</div>