<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row">
    <h2>ANSWERS</h2>
    <form #form4="ngForm" (ngSubmit)="addAnswer(form4.value)">
      <label>Answer</label><br>
      <input type="text" ngModel name="answer" #answer="ngModel" placeholder="Enter your answer.." size="50"><br><br>
      <input type="submit" class="btn btn-primary" value="Submit Answer">
    </form>
  </div>
</div>
