<!DOCTYPE html>
<html lang="en">
<head>
  <title>Football Scheduler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #c97785">

<div class="jumbotron text-center">
  <h1>Football Scheduler</h1>
  <p>Lets start the game...!</p> 
</div>
  
<div class="container">
  <div class="row">
  	<a href="/footballapp/teamregister/" 
							class="btn btn-primary" role="button">Register your Team</a>
	<a href="/footballapp/adminregister/" 
							class="btn btn-primary" role="button">Admin Register</a>
	<a href="/footballapp/adminlogin/" 
							class="btn btn-primary" role="button">Admin LogIn</a>
	
    <a href="/footballapp/viewsquad/" class="btn btn-primary" role="button">View Squad</a>
    <a href="/footballapp/viewfixture/" class="btn btn-primary" role="button">View Fixtures & Goal Score</a>
    <a href="/footballapp/adminlogout/" class="btn btn-primary" role="button">LogOut</a>
  </div>
</div>
</body>